@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var uid = ViewBag.userId; 
}

@model Locate_closest_business.Models.BusinessManagementModel; 

<header>
    <div class="top-modal">
        <h2>To get more information on South Africa and Covid-19, <a href="https://sacoronavirus.co.za/" target=""><i>click here</i></a></h2>
        <h2>We are currently on <b>STAGE 4</b> of lockdown</h2>
    </div>
    <script>
        window.onload = getUserLocation();
    </script>
</header>
<div class="card-body">
    <div id="dvMap" class="card" style="width: 100%; height: 800px">
    </div>
</div>
<div id="search-modal">  
    <div class="modal-content"> 
        <h4 class="modal-title">Search for essential service businesses near you</h4>  
        <form id="searchForm">  
            <div class="form-group">  
                <select class="form-control" id="essentialServiceOptions">
                    <option>Agriculture, hunting, forestry, fishing</option>
                    <option>Electricity, Gas, Water supply</option>
                    <option>Manufacturing</option>
                    <option>Construction and related services</option>
                    <option>Wholesale, Retail trade, Spaza shops</option>
                    <option>Information and Communication services</option>
                    <option>Media and Entertainment</option>
                    <option>Financial and Business services</option>
                    <option>Accommodation for quarantine, essential services</option>
                    <option>Food services (Deliveries)</option>
                    <option>Transport, Storage, Communication services</option>
                    <option>Mining and Quarrying</option>
                    <option>Repair and Related Emergency services</option>
                    <option>Supply Chain</option>
                    <option>Health, Social and Personal services</option>
                </select><img src="~/images/search.svg" onclick="javascript:performSearch()">
            </div> 
        </form>   
        <br/>
    </div>  
</div>
<footer class="footer">
    <div id="stages">
        <table>
            <tr id="stage5">
                <td><b>STAGE 5</b><br/>Drastic measures are required to contain the spread of the virus to save lives</td>
            </tr>
            <tr><td></td></tr>
            <tr id="stage4">
                <td><b>STAGE 4</b><br/>Extreme precautions required to limit community transmission and outbreaks, while allowing some activity to resume</td>
            </tr>
            <tr><td></td></tr>
            <tr id="stage3">
                <td><b>STAGE 3</b><br/>Easing of some restrictions, including on work and social activities, to address a high risk of transmission</td>
            </tr>
            <tr><td></td></tr>
            <tr id="stage2">
                <td><b>STAGE 2</b><br/>Physical distancing and restrictions on some leisure and social activities to prevent a resurgence of the virus</td>
            </tr>
            <tr><td></td></tr>
            <tr id="stage1">
                <td><b>STAGE 1</b><br/>Most normal activity can resume, with precautions and health guidelines followed at all times</td>
            </tr>
        </table>
    </div>
    <div id="statistics"></div>
    <div>
        <button id="login-button">Login</button><button id="open-register-business-modal" class="register-business-button" >Register Your Business</button><button id="stages-button" class="stages-button" >Stages</button><button id="buttonStats" class="stats-button">Current World Statistics</button>
    </div>
    <input type="hidden" value="@ViewBag.userId" id="userId" /> 
</footer>


@Html.Partial("~/Views/Home/RegisterBusiness.cshtml", Model)
@Html.Partial("~/Views/Login/Login.cshtml", new Locate_closest_business.Models.UserModel())
@Html.Partial("~/Views/Login/Signup.cshtml", new Locate_closest_business.Models.UserModel())
@Html.Partial("~/Views/Statistics/CurrentWorldStatistics.cshtml")
