@model Locate_closest_business.Models.SummaryModel

<div class="global-table">
    <br/>
    <h4>Global Statistics</h4>
    <table>
        <tr>
            <td><b>New Confirmed: </b>@Model.Global.NewConfirmed</td>
        </tr>
        <tr>
            <td><b>Total Confirmed: </b>@Model.Global.TotalConfirmed</td>
        </tr>
        <tr>
            <td><b>New Deaths: </b>@Model.Global.NewDeaths</td>
        </tr>
        <tr>
            <td><b>Total Deaths: </b>@Model.Global.TotalDeaths</td>
        </tr>
        <tr>
            <td><b>New Recovered: </b>@Model.Global.NewRecovered</td>
        </tr>
        <tr>
            <td><b>Total Recovered: </b>@Model.Global.TotalRecovered</td>
        </tr>
    </table><br/>
</div>
<br/>
<div class="sa-table">
    <br/>
    <h4>South Africa's Statistics</h4>
    <table>
        <tr>
            <td><b>New Confirmed: </b>@Model.Country.NewConfirmed</td>
        </tr>
        <tr>
            <td><b>Total Confirmed: </b>@Model.Country.TotalConfirmed</td>
        </tr>
        <tr>
            <td><b>New Deaths: </b>@Model.Country.NewDeaths</td>
        </tr>
        <tr>
            <td><b>Total Deaths: </b>@Model.Country.TotalDeaths</td>
        </tr>
        <tr>
            <td><b>New Recovered: </b>@Model.Country.NewRecovered</td>
        </tr>
        <tr>
            <td><b>Total Recovered: </b>@Model.Global.TotalRecovered</td>
        </tr>
        <tr>
            <td><b>Date Recorder: </b>@Model.Country.Date</td>
        </tr>
    </table><br/>
</div>